#multipleLandingPage {
  padding-left: 0;
  #sideBarTop {
    .someThingThere,
    .searchSideBarTop,
    .sortElement,
    .createNew {
      display: none;
    }
  }
  .errorMessage{
    font-family: 'Basis-Grotesque-Medium',sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.56;
    letter-spacing: normal;
    margin-top: 3px;
    margin-bottom: 0px;
    color: red;
  }
  .wrapperMultipleLandingPage {
    margin-top: 114px;
    margin-bottom: 80px;
    h1 {
      text-transform: capitalize;
      opacity: 0.15;
      color: #27233a;
      font-family: 'Basis-Grotesque-Bold', sans-serif;
      font-size: 32px;
      letter-spacing: -1px;
      line-height: 40px;
      margin-bottom: 10px;
      margin-top: 0;
      font-weight: normal;
    }
    h2 {
      font-family: 'Basis-Grotesque-Medium', sans-serif;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 25px;
      letter-spacing: normal;
      margin-right: 10px;
      margin-bottom: 45px;
      width: 64%;
      color: #27233a;
      opacity: 0.6;
    }
    .sessionCSV{
      margin-top: -20px;
    }
    .rowElementForm {
      label{
        margin-bottom: 15px;
        line-height: 25px;
        color: rgba(39, 35, 58, 0.6);
        margin-right: 0;
        &.header{
          width: 100%;
        }
      }
      &.form-group {
        .col-lg-6 {
          &:nth-child(2) {
            padding-left: 0;
            padding-right: 9px;
          }
          &:nth-child(3) {
            padding-right: 0;
            padding-left: 9px;
            &.showError{
              &:after{
                left: 9px;
              }
            }
          }
        }
      }
      &.formEx {
        .positionLeft{
          padding-left: 0;
          padding-right: 9px;
        }
        .positionRight{
          padding-right: 0;
          padding-left: 9px;
        }
        .fieldSecondSection {
          display: inline-block;
          width: 100%;
          input {
            color: #353245;
          }
          .padding-space {
            margin-bottom: 20px;
            &:last-child {
              margin: 0px;
            }
            &:nth-child(odd) {
              padding-left: 0px;
              padding-right: 9px;
            }
            &:nth-child(even) {
              padding-right: 0px;
              padding-left: 9px;
            }
          }
        }
      }

      &.formIn {
        .positionLeft{
          padding-left: 0px;
          padding-right: 9px;
        }
        .positionRight{
          padding-right: 0px;
          padding-left: 9px;
        }
        .fieldSecondSection {
          display: inline-block;
          width: 100%;
          input {
            color: #353245;
          }
          .padding-space {
            margin-bottom: 20px;
            &:last-child {
              margin: 0px;
            }
            &:nth-child(odd) {
              padding-left: 0px;
              padding-right: 9px;
            }
            &:nth-child(even) {
              padding-right: 0px;
              padding-left: 9px;
            }
          }
        }
      }
      .fa-delete-ex{
        position: absolute;
        top: 5px;
        right: 18px;
        color: red;
        outline: none;
        display: none;
      }
      .addNewField {
        background: #fff;
        padding: 20px 25px 19px;
        border: 1px dashed rgba(151, 151, 151, 0.21);
        img {
          width: 13px;
          height: 13px;
          margin-left: 6px;
        }
        span {
          color: #bebebe;
          font-size: 14px;
          line-height: 19px;
        }
      }
      .add-field-ex{
        &:hover{
          .fa-delete-ex{
            display: block;
          }
        }
      }
      .add-field-in{
        input{
          background: #fff;
          border: 1px dashed rgba(151,151,151,0.21);
          text-align: left;
        }
        &:hover{
          .fa-delete-ex{
            display: block;
          }
        }
      }

    }

    .rowFiel {
      &.uploadCSV {
        border: 1px dashed #cccccc;
        text-align: center;
        .browseSection {
          background: #fff;
          margin-bottom: 20px;
          padding: 55px 0 46px;
          img {
          }
          span {
            font-family: 'Basis-Grotesque-Regular', sans-serif;
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.29;
            letter-spacing: normal;
            text-align: center;
            color: #aaaaaa;
            display: block;
            margin-top: 28px;
            margin-bottom: 25px;
          }
          .UploadCSVHeader {
            width: 100%;
            .upload {
              display: inline-block;
              margin: auto;
              label {
                -webkit-transition: all .5s;
                -moz-transition: all .5s;
                -ms-transition: all .5s;
                -o-transition: all .5s;
                transition: all .5s;
                cursor: pointer;
                margin: 0px;
                width: 141px;
                padding: 9px 0;
                background-color: #ff4249;
                border: 2px solid #ff4249;
                border-radius: 28px;
                font-size: 13px;
                font-family: 'Basis-Grotesque-Regular', sans-serif;
                font-weight: normal;
                color: #fff;
                &:hover {
                  background: transparent;
                  color: #ff4249;
                }
              }
              #uploadCSV,.uploadCSV {
                display: none;
              }

            }
          }
        }
      }
      margin-bottom: 20px;
      display: inline-block;
      width: 100%;
      padding: 0 30px;
      background: #fff;
      .uploadCSVBody {
        display: inline-block;
        width: 100%;
        background-color: white;
        .uploadCSVElement {
          padding-top: 15px;
          padding-bottom: 15px;
          display: inline-flex;
          align-items: center;
          margin-left: -15px;
          width: 103%;
          .iconFileCSV {
            width: auto;
            img {
              width: 26px;
              height: 26px;
              background-color: #3c444f;
              border-radius: 50%;
              padding: 7px;
            }
          }
          .uploading {
            position: relative;
            .effectUploading{
              height: 5px;
              -webkit-border-radius:5px;
              -moz-border-radius:5px;
              border-radius:5px;
              background: #d8d8d8;
              position: relative;
              .progress-bar{
                width: 0;
                display: block;
                height: 100%;
                border-radius:5px;
                background-color: #ff4249;
                -webkit-transition: width .4s ease;
                transition: width .4s ease;
                box-shadow: none;
              }
            }
            p {
              text-align: left;
              color: #9a9a9a;
              font-size: 13px;
              font-weight: normal;
              font-family: 'Basis-Grotesque-Regular', sans-serif;
              line-height: normal;
              margin-bottom: 6px;
              span {
                color: #ff4249;
                font-family: 'Basis-Grotesque-Bold', sans-serif;
              }
            }
          }
          .status {
            margin-left: auto;
            width: auto;
            .flip-container {
              -webkit-perspective: 100;
              -moz-perspective: 100;
              -o-perspective: 100;
              perspective: 1000;
              width: 18px;
              height: 18px;
              cursor: pointer;
              &:hover {
                .flipper {
                  transform: rotateY(180deg);
                }
              }
              .flipper {
                transition: 0.6s;
                transform-style: preserve-3d;
                position: relative;
                i {
                  backface-visibility: hidden;
                  position: absolute;
                  top: 0;
                  left: 0;
                  font-size: 7px;
                  line-height: 10px;
                  font-size: 12px;
                  text-align: right;
                  width: 18px;
                  height: 18px;
                  border-radius: 50%;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  color: white;
                  &.fa-check {
                    background: #15cd72;
                    z-index: 2;
                    transform: rotateY(0deg);
                  }
                  &.fa-times {
                    background-color: #ff2e00;
                    transform: rotateY(180deg);
                  }
                }
              }
            }
          }
        }
      }
    }
    .viewContain {
      .padding-space{
        padding: 0px;
        padding-right: 15px;
      }
      .itemsList {
        background-color: #fff;
        width: 100%;
        display: inline-flex;
        align-items: center;
        padding: 25px 35px;
        margin-bottom: 1px;
        p {
          font-family: 'Basis-Grotesque-Medium', sans-serif;
          font-size: 16px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.56;
          letter-spacing: normal;
          color: rgba(39, 35, 58, 0.6);
          margin: 0px;
        }
        i {
          vertical-align: middle;
          color: #aaa;
          font-size: 12px;
        }
        .viewMoreInformation {
          text-align: center;
          i {
            -webkit-transition: all .5s;
            -moz-transition: all .5s;
            -ms-transition: all .5s;
            -o-transition: all .5s;
            transition: all .5s;
            font-size: 27px;
            color: #ddd;
            cursor: pointer;
            outline:none;
            &.animation {
              transform: rotate(180deg);
            }
            &:hover {
              color: #221f20;
            }
          }
        }
      }
      .extensionSection {
        display: none;
        -webkit-animation: fadeIn 1s;
        animation: fadeIn 1s;
        &.showExtensionSection {
          display: block;
        }
        .groupLandingPageCampaign {
          background-color: #ffffff;
          width: 100%;
          padding: 0 35px;
          .elementLanding {
            display: inline-flex;
            width: 100%;
            align-items: center;
            padding: 30px 0;
            border-bottom: 2px solid #eeeeee;
            position: relative;
            div>input {
              background: transparent;
              border: none !important;
              color: #353245;
              font-family: "Basis-Grotesque-Regular";
              font-size: 16px;
              line-height: 18px;
              padding: 10px 0;
              transition: 0.4s;
              width: 100%;
              &::-webkit-input-placeholder {
                font-family: "Basis-Grotesque-Regular";
                font-size: 16px;
              }
              &::-moz-placeholder {
                font-family: "Basis-Grotesque-Regular";
                font-size: 16px;
              }
              &:-ms-input-placeholder {
                font-family: "Basis-Grotesque-Regular";
                font-size: 16px;
              }
              &:-moz-placeholder {
                font-family: "Basis-Grotesque-Regular";
                font-size: 16px;
              }
              &:focus{
                border: none !important;
                background-color: #d8d8d8;
                outline: none;
                padding-left: 15px;
                padding-right: 15px;
              }
              &:hover{
                border: none !important;
                background-color: #d8d8d8;
                padding-left: 15px;
                padding-right: 15px;
              }
            }
            /*p {
              font-family: 'Basis-Grotesque-Medium', sans-serif;
              font-size: 16px;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.56;
              letter-spacing: normal;
              color: rgba(0, 0, 0, 0.9);
              margin: 0px;

            }*/
            .uploadFileBox {
              background: transparent;
              &:last-child {
                margin: 0;
              }
              .padding-noVideo {
                padding: 58px 0 46px 0 !important;
                border: 2px dashed #cccccc;
                border-radius: 4px;
                text-align: center;
              }
              .padding-uploadingVideo {
                padding-left: 50px;
                padding-right: 50px;
              }
              .noVideo {
                display: inline-flex;
                align-content: center;
                img {
                  margin-right: 18px;
                }
                .uploadVideoNew {
                  margin-left: 18px;
                  .btnVideoUploaded{
                    margin-top:-5px;
                    margin-left:15px;
                  }
                  span {
                    display: block;
                    font-family: 'Basis-Grotesque-Regular', sans-serif;
                    font-weight: normal;
                    font-style: normal;
                    font-stretch: normal;
                    letter-spacing: normal;
                    margin-bottom: 10px;
                    font-size: 14px;
                    line-height: 18px;
                    color: #aaaaaa;
                    text-align: left;
                  }
                  label {
                    float: left;
                    border: 2px solid #ff4249;
                    width: 130px;
                    border-radius: 28px;
                    background-color: #ff4249;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    line-height: normal;
                    text-align: center;
                    color: #ffffff;
                    font-size: 10px;
                    font-family: 'Basis-Grotesque-Medium', sans-serif;
                    transition: 0.5s;
                    margin: 0px;
                    &:hover {
                      background: transparent !important;
                      color: #ff4249 !important;
                    }
                  }
                }
              }
              .uploadingVideo {
                padding: 25px 25px 20px 25px;
                margin: auto;
                box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                border-radius: 4px;
                position: relative;
                .closeBtn {
                  position: absolute;
                  top: 10px;
                  right: 25px;
                  background: #d8d8d8;
                  width: 15px;
                  height: 15px;
                  display: inline-block;
                  -webkit-border-radius: 50%;
                  -moz-border-radius: 50%;
                  border-radius: 50%;
                  transform: rotate(45deg);
                  font-size: 26px;
                  color: #fff;
                  line-height: 22px;
                  text-align: center;
                  cursor: pointer;
                }
                h6 {
                  margin: 0 0 10px;
                  font-family: 'Basis-Grotesque-Regular', sans-serif;
                  font-size: 11px;
                  font-weight: normal;
                  font-style: normal;
                  font-stretch: normal;
                  line-height: normal;
                  letter-spacing: normal;
                  text-align: left;
                  color: #9a9a9a;
                  span {
                    color: #ff4249;
                    font-family: 'Basis-Grotesque-Bold', sans-serif;
                    display: block;
                    word-wrap: break-word;
                  }
                }
                .effectUploading{
                  height: 5px;
                  -webkit-border-radius:5px;
                  -moz-border-radius:5px;
                  border-radius:5px;
                  background: #d8d8d8;
                  position: relative;
                  .progress-bar{
                    width: 0;
                    display: block;
                    height: 100%;
                    border-radius:5px;
                    background-color: #ff4249;
                    -webkit-transition: width .4s ease;
                    transition: width .4s ease;
                    box-shadow: none;
                  }
                }
              }
              .hasVideo {
                display: flex;
                align-items: center;
                .wrapperThumbnail {
                  width: 50%;
                  float: left;
                  position: relative;
                  .range{
                    position: relative;
                    @-webkit-keyframes spin {
                      0% { -webkit-transform: rotate(0deg); }
                      100% { -webkit-transform: rotate(360deg); }
                    }

                    @keyframes spin {
                      0% { transform: rotate(0deg); }
                      100% { transform: rotate(360deg); }
                    }
                    img{
                      width: 35px;
                      position: absolute;
                      top: 0;
                      -webkit-animation:spin 2s linear infinite;
                      -o-animation:spin 2s linear infinite;
                      animation:spin 2s linear infinite;
                      margin: 10px auto;
                      left: 0;
                      right: 0;
                    }
                    input{
                      padding:0;
                    }
                  }
                  img {
                    padding: 0;
                  }
                }
                .infoVideo {
                  text-align: left;
                  padding-left: 20px;
                  position: relative;
                  width: 50%;
                  float: right;
                  h6 {
                    margin: 0 20px 0 0;
                    font-family: 'Basis-Grotesque-Bold', sans-serif;
                    font-size: 16px;
                    font-weight: normal;
                    line-height: 26px;
                    letter-spacing: normal;
                    color: #353245;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: pre;
                  }
                  h5 {
                    color: #353245;
                    font-family: 'Basis-Grotesque-Regular', sans-serif;
                    font-size: 13px;
                    font-weight: normal;
                    line-height: 20px;
                    margin-top: 0;
                    margin-bottom: 15px;
                  }
                  .closeBtn {
                    position: absolute;
                    top: -35px;
                    right: -25px;
                    background: #ff4249;
                    width: 15px;
                    height: 15px;
                    display: inline-block;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    border-radius: 50%;
                    -webkit-transform: rotate(45deg) translateY(-50%);
                    -moz-transform: rotate(45deg) translateY(-50%);
                    -ms-transform: rotate(45deg) translateY(-50%);
                    -o-transform: rotate(45deg) translateY(-50%);
                    transform: rotate(45deg) translateY(-50%);
                    font-size: 26px;
                    color: #fff;
                    line-height: 22px;
                    text-align: center;
                    cursor: pointer;
                  }
                  p {
                    margin-bottom: 0;
                    font-size: 11px;
                    font-weight: normal;
                    line-height: normal;
                    font-family: 'Basis-Grotesque-Bold', sans-serif;
                    color: #aaaaaa
                  }
                }
              }
            }
            .fa-trash{
              font-size: 20px;
              position: absolute;
              right: -18px;
            }
          }
        }
        .buttonSection {
          background-color: #fff;
          text-align: right;
          padding: 22px 30px;
          a {
            border-radius: 28px;
            background-color: #ff4249;
            border: 2px solid #ff4249;
            display: inline-block;
            font-family: 'Basis-Grotesque-Medium', sans-serif;
            font-size: 13px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: #ffffff;
            padding: 15px 44px 13px;
            &:hover {
              color: #ff4249;
              background-color: transparent;
            }
          }
        }
      }
    }
    a.submit{
      border: 2px solid #ff4249;
      color: #ffffff;
      font-family: 'Basis-Grotesque-Bold',sans-serif;
      font-weight: normal;
      font-size: 14px;
      display: block;
      text-align: center;
      background-color: #ff4249;
      width: 170px;
      border-radius: 100px;
      margin:35px auto 0;
      padding-top: 14px;
      padding-bottom: 14px;
      &:hover{
        color: #ff4249;
        background: transparent;
      }
    }
  }
}
@media (max-width:767px){
  #multipleLandingPage{
    .title{
      font-family: 'Basis-Grotesque-Medium', sans-serif;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.56;
      letter-spacing: normal;
      color: rgba(39,35,58,0.6);
      margin: 0px;
    }
    .wrapperMultipleLandingPage{
      max-width: 100%;
      h2{
        width:100%;
      }
      .rowElementForm{
        &.form-group {
          .col-lg-6{
            padding: 0 !important;
            margin: 10px 0;
          }
        }
        &.formEx{
          .positionLeft{
            padding:0 !important;
            margin-bottom:20px;
          }
          .positionRight{
            padding:0 !important;
          }
          .fieldSecondSection{
            .padding-space{
              padding:0 !important;
            }
          }
        }
      }
      .viewContain{
        .extensionSection{
          .groupLandingPageCampaign{
            padding:0 15px;
            .elementLanding{
              display: inherit;
              .fa-trash{
                right:0;
              }
            }
          }
          .buttonSection{
            text-align: center;
          }
        }
      }
      }
    }
  }
