html, body {
  .clear {
    clear: both;
  }
  @-webkit-keyframes displayChange {
    from {
      display: none;
    }
    to {
      display: block;
    }
  }
  @keyframes displayChange {
    from {
      display: none;
    }
    to {
      display: block;
    }
  }
  @-webkit-keyframes changeWidth {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  @keyframes changeWidth {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Basis-Grotesque-Regular', sans-serif;
  font-size: 13px;
  color: #333333;
  line-height: 18px;
  background-color: #f2f2f2;
  outline: none;
  button.dropdown-toggle {
    position: relative;
    span.caret {
      opacity: 0;
    }
    &:after {
      position: absolute;
      content: '';
      width: 15px;
      height: 15px;
      border-left: 2px solid #dddddd;
      border-bottom: 2px solid #dddddd;
      transform: rotate(-45deg);
      right: 30px;
      top: 17px;
    }
  }
  a {
    text-decoration: none;
    cursor: pointer;
    &:hover, &:focus, &:active, &:visited {
      text-decoration: none;
    }
  }
  li {
    list-style: none;
  }
  position: relative;

  > .mainBody {
    min-height: 100%;
    height: auto;
    display: flex;
    width: 100%;
    flex-direction: column;
  }
}
.wrapperBtnSection {
  position: relative;
  z-index: 9;
}

.turnOff {
  &.disableSection {
    position: relative;
    &:after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      background: transparent;
    }
  }

  .uploadFileBox {
    position: relative;
    border: none !important;
    &:after {
      content: '';
      display: block;
      background: #E8E8E8;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  textarea {
    background: #E8E8E8 !important;
    &:focus {
      border: 1px solid #E8E8E8 !important;
    }
  }
  input {
    background: #E8E8E8 !important;
    &:focus {
      border: 1px solid #E8E8E8 !important;
    }
  }
  ::-webkit-input-placeholder {
    color: transparent !important;
  }
  ::-moz-placeholder {
    color: transparent !important;
  }
  :-ms-input-placeholder {
    color: transparent !important;
  }
  :-moz-placeholder {
    color: transparent !important;
  }
}

a, button {
  -webkit-transition: all 0.4s;
  transition: all 0.5s;
  outline: none;
  &:focus {
    outline: none;
  }
}

::-webkit-input-placeholder {
  font-family: 'Basis-Grotesque-Regular', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  color: #bebebe;
}

::-moz-placeholder {
  font-family: 'Basis-Grotesque-Regular', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  color: #bebebe;
}

:-ms-input-placeholder {
  font-family: 'Basis-Grotesque-Regular', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  color: #bebebe;
}

:-moz-placeholder {
  font-family: 'Basis-Grotesque-Regular', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  color: #bebebe;
}

.disable {
  background: #b7b7b7 !important;
  cursor: not-allowed !important;
}

.disable:hover {
  color: #FFFFFF !important;
}

.validateError {
  text-align: center;
  margin: 20px 0px 0px;
  font-size: 12px;
  color: red;
}

.btnDisable {
  margin-top: 10px !important;
  display: inline-block !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.bgWhite {
  background-color: #FFFFFF;
}

.maxWith {
  width: 100% !important;
}

.overflow-y2 {
  max-height: 200px;
  overflow-y: auto;
}

.articleSession {
  padding-left: 191px;
}

#mainSession {
  padding-top: 70px;
  height: 100%;
  .container-fluid, .row {
    height: 100%;
  }
  article {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    height: auto;
    //background-color: #f0f0f0;
    .heightDefault {
      display: inline-block;
      width: 100%;
      margin-top: auto;
    }
  }
}

.heightDefault {
  display: inline-block;
  width: 100%;
  margin-top: auto;
}

button {
  outline: none;
}

.wrapperContent {
  padding-left: 191px;
}

i.active {
  color: #32d479;
}

i.inactive {
  color: #ff6060;
}

.cursorPointer {
  cursor: pointer;
}

.rowElementForm {
  display: inline-block;
  margin-bottom: 40px;
  width: 100%;
  &:last-child {
    margin-bottom: 20px;
  }
  label {
    font-family: 'Basis-Grotesque-Medium', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.56;
    letter-spacing: normal;
    color: rgba(39, 35, 58, 0.6);
    margin-right: 10px;
    margin-bottom: 10px;
    i {
      margin-left: 10px;
      color: #aaa;
    }
  }
  input, textarea,select {
    min-height: 60px;
    display: block;
    margin-bottom: 20px;
    border: 1px solid #e0e0e0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    outline: none;
    padding: 20px 23px;
    color: #353245;
    font-size: 14px;
    background-color: #fbfbfc;
    line-height: 18px;
    width: 100%;
    transition: 0.5s;
    &:last-child {
      margin: 0px;
    }
    &:focus {
      border: 1px solid #ff4249 !important;
    }
  }
  .uploadFileBox {
    background: #fcfcfc;
    text-align: center;
    &.padding-space {
      padding: 58px 0 46px;
    }
    video {
      padding-top: 15px;
    }
    span {
      display: block;
      font-family: 'Basis-Grotesque-Regular', sans-serif;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.29;
      letter-spacing: normal;
      text-align: center;
      color: #aaaaaa;
      margin: 25px 0;
    }
    /*p {
      color: #8f949a;
      font-size: 11px;
      line-height: 13px;
      label {
        cursor: pointer;
        background: #ff4249;
        padding: 12px 40px;
        border-radius: 28px;
        background: #ff4249;
        color: #fff;
      }
    }*/
  }
}

.tgl-light + .tgl-btn {
  background: #AFAFAF;
  border-radius: 2em;
  padding: 2px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  margin-right: 0;
}

.tgl {
  display: none !important;
}

.tgl-btn {
  outline: 0;
  float: right;
  width: 44px;
  height: 22px;
  position: relative;
  cursor: pointer;
  user-select: none;
}

.tgl-btn:after,
.tgl-btn:before {
  position: relative;
  top: 2px;
  display: block;
  content: "";
  width: 13px;
  height: 13px;
}

.tgl-btn:after {
  left: 4px;
}

.tgl-btn:before {
  display: none;
}

.tgl-light + .tgl-btn:after {
  background: #FFFFFF;
  border-radius: 2em;
  border-radius: 2em;
  padding: 2px;
  transition: all .4s ease;
}

.tgl-light:after {
  border-radius: 50%;
  background: red;
  transition: all .2s ease;
}

.tgl-light:checked + .tgl-btn {
  background: #32d479;
}

.tgl:checked + .tgl-btn:after {
  left: 60%;
}

.check {
  border: 2px solid rgba(220, 219, 220, 0.4);
  background-color: #32d479;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  display: inline-block;
  text-align: center;
  line-height: 13px;
  i {
    color: #fff;
    font-size: 10px;
    vertical-align: middle;
  }
}

.circleBlank {
  width: 21px;
  height: 21px;
  border: 2px solid #dddddd;
  background-color: #ffffff;
  display: inline-block;
  border-radius: 50%;
}

label.checkbox-inline, label.radio-inline {
  color: #2f3540;
  font-size: 13px;
  line-height: 18px;
  input[type="checkbox"],
  input[type="radio"] {
    -webkit-appearance: none;
    background: transparent;
    width: 9px;
    height: 9px;
    border: solid 1px #aaaaaa;
    position: absolute;
    cursor: pointer;
  }
  input[type="checkbox"]:after {
    content: '';
    width: 4px;
    height: 7px;
    border-bottom: 2px solid #000;
    border-right: 2px solid #000;
    position: absolute;
    left: 2px;
    top: -1px;
    opacity: 0;
    transform: rotate(45deg);
  }
  input[type="checkbox"]:checked {
    outline: none;
  }
  input[type="checkbox"]:checked:after,
  input[type="radio"]:checked:after {
    opacity: 1;
  }
  input[type="radio"]:after {
    content: '';
    width: 3px;
    height: 3px;
    position: absolute;
    left: 2px;
    top: 2px;
    background-color: #ff4249;
    border-radius: 50%;
    opacity: 0;
  }
  input[type="radio"]:checked {
    border: 1px solid #ff4249;
    border-radius: 100px;
    outline: none;
  }
}

.colorpicker.ng-scope {
  height: auto;
}

p.error {
  color: red;
}

.ADMdtp-box {
  z-index: 2000 !important;
}

/*== scroll bar ==*/
/*
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 3px;
  height: 100%;
}

::-webkit-scrollbar:vertical {
  width: 3px;
}

::-webkit-scrollbar:horizontal {
  height: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(61, 61, 61, 0.2);
  border-radius: 100px;
}

::-webkit-scrollbar-track-piece{
  border-radius: 100px;
  background-color: rgba(61, 61, 61, 0.06);
}*/
form {
  &.margin-input {
    input {
      margin-bottom: 15px !important;
    }
  }
  .showError {
    position: relative;
    margin-bottom: 30px;
    input {
      border: 1px solid red !important;
      margin-bottom: 0 !important;
    }
    &:after {
      position: absolute;
      bottom: -20px;
      right:0;
      color: red;
      z-index: 9;
      content: 'This field is required';
    }
  }

  .errorEmail {
    position: relative;
    margin-bottom: 30px;
    input {
      border: 1px solid red !important;
      margin-bottom: 0 !important;
    }
    &:after {
      position: absolute;
      bottom: -20px;
      right:0;
      color: red;
      z-index: 9;
      content: 'Enter a valid email';
    }
  }
}

/*=== Button for app  ===*/
a, label, button, input[type="submit"] {
  &.mainButton {
    text-decoration: none;
    border-radius: 28px;
    background-color: #ff4249;
    border: 2px solid #ff4249;
    width: 141px;
    line-height: normal;
    font-family: 'Basis-Grotesque-Medium', sans-serif;
    font-size: 13px;
    color: #ffffff;
    display: block;
    padding-top: 13px;
    padding-bottom: 11px;
    cursor: pointer;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    outline: none;
    &:hover {
      background: transparent;
      color: #ff4249;
    }
  }
}

.functionButton{
  line-height: normal;
  margin-right: 13px;
  text-decoration: none;
  width: 65px;
  padding-top: 8px;
  padding-bottom: 6px;
  display: inline-block;
  font-family: 'Basis-Grotesque-Medium';
  font-size: 10px;
  text-align: center;
  color: #ffffff;
  border-radius: 100px;
  background-color: #828893;
  &:hover{
    color: #fff;
    background: #353245;
  }
}

.hasVideo{
  .wrapperThumbnail {

    .bgImg{
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      position: relative;
      width: 280px;
      height: 190px;
    }
    label {
      width: 150px;
      border-radius: 28px;
      background-color: #ff4249;
      padding-top: 7px;
      padding-bottom: 7px;
      line-height: normal;
      text-align: center;
      color: #ffffff;
      font-size: 10px;
      font-family: 'Basis-Grotesque-Medium', sans-serif;
      transition: 0.5s;
      position: absolute;
      left: 50%;
      top: 50%;
      padding-top: 6px;
      padding-bottom: 4px;
      border: solid 2px #ff4249;
      cursor: pointer;
      outline: none;
      &.changeVideo {
        position: absolute;
        top:65px;
        left: 0;
        right: 0;
        margin: auto;
      }
      &.uploadThumbnail {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        top:100px;
      }
      &:hover {
        background-color: #ffffff;
        color: #ff4249;
      }
    }
  }
}

.disableButton{
  pointer-events: none;
  cursor: default;
  opacity: 0.7;
}
.modal-open{
  overflow:inherit;
}
.bgImgVideo{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center center;
}
#userDetailPage{
  &.listUserPage{
    .content{
      max-width:100%;
    }
    #sideBarTop {
      .searchSideBarTop,
      .someThingThere,
      .sortElement,
      .createNew{
        display: block;
      }
    }
  }

}
/*=== END Button for app  ===*/

#forgotPage{
  padding-top: 100px;
  .wrapperLogin{
    width: 400px;
    margin: auto;
    background-color: #fff;
    padding: 70px 50px;
    .logoSalefix {
        margin: auto;
        margin-bottom: 50px;
    }
    input.form-control {
        border: 1px solid #fcfcfc;
        box-shadow: none;
        padding: 22px 23px;
        color: #353245;
        font-size: 14px;
        line-height: 14px;
        height: auto;
        border-radius: 4px;
        background-color: #fbfbfc;
        border: 1px solid #e0e0e0;
        &:-webkit-autofill, 
        &:-webkit-autofill:hover, 
        &:-webkit-autofill:focus, 
        &:-webkit-autofill:active {
          border: 1px solid #faffbd;
          background-color: #faffbd;
       }
    }
    
    input.form-control:first-child{
        margin-bottom: 15px;      
    }

    .bottombtn{
      button {
          border-radius: 100px;
          text-align: center;
          font-size: 14px;
          line-height: 14px;
          color: #ffffff;
          background-color: #ff4249;
          border: 2px solid #ff4249;
          margin-top: 10px;
          margin-bottom: 33px;
          width: 300px;
          height: 50px;
          font-family: 'Basis-Grotesque-Bold';
          &:hover{
            background: transparent;
            color: #ff4249;
          }
      }
    }
    p{
      text-align: center;
      color: #72767d;
      font-size: 12px;
      line-height: 20px;
      max-width: 317px;
      font-family: 'Basis-Grotesque-Light',sans-serif;
    }
  }
}
@media (max-width: 480px){
  .functionButton{
    width: 55px;
  }
}
@media (max-width: 320px){
  .functionButton{
    width: 100px;
    margin-bottom: 10px;
    margin-left: 0 !important;
  }
}

@media(max-width: 767px){
  #mainSession{
    article{
      padding-top: 60px;
    }
  }
}
.loading-image{
  position: absolute;
  top: calc(50% - 70px);
  left: 0;
  right: 0;
  margin: auto;
  z-index: 10;
}
.noVideo{
  min-height: 100px;
  position: relative;
  .btnVideoUploaded{
    margin-top: 25px;
    background: #ff4249;
    border-color: #ff4249;
    outline: none;
    &:hover{
      color:#ff4249;
      background: #fff;
    }
  }
}
.opacity{
  opacity: 0;
  height: 100px;
}
