@font-face {
  font-family: 'Basis-Grotesque-Regular';
  src: url('/assets/fonts/Basis-Grotesque/BasisGrotesque-Regular.eot');
  src: url('/assets/fonts/Basis-Grotesque/BasisGrotesque-Regular.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/Basis-Grotesque/BasisGrotesque-Regular.woff2') format('woff2'),
  url('/assets/fonts/Basis-Grotesque/BasisGrotesque-Regular.woff') format('woff'),
  url('/assets/fonts/Basis-Grotesque/BasisGrotesque-Regular.ttf') format('truetype'),
  url('/assets/fonts/Basis-Grotesque/BasisGrotesque-Regular.svg#svgFontName') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Basis-Grotesque-Light';
  src: url('/assets/fonts/Basis-Grotesque/BasisGrotesque-Light.eot');
  src: url('/assets/fonts/Basis-Grotesque/BasisGrotesque-Light.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/Basis-Grotesque/BasisGrotesque-Light.woff2') format('woff2'),
  url('/assets/fonts/Basis-Grotesque/BasisGrotesque-Light.woff') format('woff'),
  url('/assets/fonts/Basis-Grotesque/BasisGrotesque-Light.ttf') format('truetype'),
  url('/assets/fonts/Basis-Grotesque/BasisGrotesque-Light.svg#svgFontName') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Basis-Grotesque-Bold';
  src: url('/assets/fonts/Basis-Grotesque/BasisGrotesque-Bold.eot');
  src: url('/assets/fonts/Basis-Grotesque/BasisGrotesque-Bold.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/Basis-Grotesque/BasisGrotesque-Bold.woff2') format('woff2'),
  url('/assets/fonts/Basis-Grotesque/BasisGrotesque-Bold.woff') format('woff'),
  url('/assets/fonts/Basis-Grotesque/BasisGrotesque-Bold.ttf') format('truetype'),
  url('/assets/fonts/Basis-Grotesque/BasisGrotesque-Bold.svg#svgFontName') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Basis-Grotesque-Medium';
  src: url('/assets/fonts/Basis-Grotesque/BasisGrotesque-Medium.eot');
  src: url('/assets/fonts/Basis-Grotesque/BasisGrotesque-Medium.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/Basis-Grotesque/BasisGrotesque-Medium.woff2') format('woff2'),
  url('/assets/fonts/Basis-Grotesque/BasisGrotesque-Medium.woff') format('woff'),
  url('/assets/fonts/Basis-Grotesque/BasisGrotesque-Medium.ttf') format('truetype'),
  url('/assets/fonts/Basis-Grotesque/BasisGrotesque-Medium.svg#svgFontName') format('svg');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'Gotham-Bold';
  src: url('/assets/fonts/Gotham-Bold/Gotham-Bold.eot');
  src: url('/assets/fonts/Gotham-Bold/Gotham-Bold.woff2') format('woff2'),
  url('/assets/fonts/Gotham-Bold/Gotham-Bold.woff') format('woff'),
  url('/assets/fonts/Gotham-Bold/Gotham-Bold.ttf') format('truetype'),
  url('/assets/fonts/Gotham-Bold/Gotham-Bold.svg#Gotham-Bold') format('svg'),
  url('/assets/fonts/Gotham-Bold/Gotham-Bold.eot?#iefix') format('embedded-opentype');
  font-weight:normal!important;
}

@font-face {
  font-family: 'Gotham-Medium';
  src: url('/assets/fonts/Gotham-Medium/Gotham-Medium.eot');
  src: url('/assets/fonts/Gotham-Medium/Gotham-Medium.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/Gotham-Medium/Gotham-Medium.woff2') format('woff2'),
  url('/assets/fonts/Gotham-Medium/Gotham-Medium.woff') format('woff'),
  url('/assets/fonts/Gotham-Medium/Gotham-Medium.ttf')  format('truetype'),
  url('/assets/fonts/Gotham-Medium/Gotham-Medium.svg#svgFontName') format('svg');
  font-weight:normal!important;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

@font-face {
  font-family: 'Gotham-Light';
  src: url('/assets/fonts/Gotham-Light/Gotham-Light.eot');
  src: url('/assets/fonts/Gotham-Light/Gotham-Light.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/Gotham-Light/Gotham-Light.woff2') format('woff2'),
  url('/assets/fonts/Gotham-Light/Gotham-Light.woff') format('woff'),
  url('/assets/fonts/Gotham-Light/Gotham-Light.ttf')  format('truetype'),
  url('/assets/fonts/Gotham-Light/Gotham-Light.svg#svgFontName') format('svg');
  font-weight:normal!important;
}

@font-face {
  font-family: "Flaticon";
  src: url("/assets/fonts/flatIcon/Flaticon.eot");
  src: url("/assets/fonts/flatIcon/Flaticon.eot?#iefix") format("embedded-opentype"),
  url("/assets/fonts/flatIcon/Flaticon.woff") format("woff"),
  url("/assets/fonts/flatIcon/Flaticon.ttf") format("truetype"),
  url("/assets/fonts/flatIcon/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Glyphter";
  src: url("/assets/fonts/Glyphter-icon/Glyphter.eot");
  src: url("/assets/fonts/Glyphter-icon/Glyphter.eot?#iefix") format("embedded-opentype"),
  url("/assets/fonts/Glyphter-icon/Glyphter.woff") format("woff"),
  url("/assets/fonts/Glyphter-icon/Glyphter.ttf") format("truetype"),
  url("/assets/fonts/Glyphter-icon/Glyphter.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/*Start Namtech Font*/
@font-face {
  font-family: 'Namtech';
  src: url('../../../assets/fonts/Namtech/namtech.eot');
  src: url('../../../assets/fonts/Namtech/namtech.eot?#iefix') format('embedded-opentype'),
  url('../../../assets/fonts/Namtech/namtech.woff2') format('woff2'),
  url('../../../assets/fonts/Namtech/namtech.woff') format('woff'),
  url('../../../assets/fonts/Namtech/namtech.ttf') format('truetype'),
  url('../../../assets/fonts/Namtech/namtech.svg#svgFontName') format('svg');
  font-weight: normal;
  font-style: normal;
}
.nt-user-icon:before {
  content: "\e900";
  color: #aaa;
}
.nt-play-icon:before {
  content: "\e901";
  color: #aaa;
}
.nt-logout-icon:before {
  content: "\e902";
  color: #aaa;
}
.nt-editUser-icon:before {
  content: "\e903";
  color: #aaa;
}
.namtech {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'namtech' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*End Namtech Font*/

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("/assets/fonts/flatIcon/Flaticon.svg#Flaticon") format("svg");
  }
}

.glyphter:before{
  display: inline-block;
  font-family: 'Glyphter';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.nat {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'thenatives' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

