#confirmSubmittingCampaign, #resendMessagePopup {
  .modal-dialog {
    width: 400px;
    .modal-content {
      padding: 37px 52px;
      border-radius: 4px;
      background-color: #eeeeee;
      box-shadow: none;
      border: none;
      label{
        color: #353245;
        font-size: 14px;
        line-height: 20px;
        input[type="checkbox"]{
          border: solid 1px #aaaaaa;
          border-radius: 100px;
          outline: none;
          position: relative;
          top: 5px;
          &:checked{
            border: 1px solid #ff4249;
          }
          &:after{
            content: '';
            width: 3px;
            height: 3px;
            border: none;
            position: absolute;
            left: 2px;
            top: 2px;
            opacity: 0;
          }
          &:checked:after{
            opacity: 1;
          }
        }
      }
      .modal-header {
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 32px;
        border-bottom: 1px solid rgba(151, 151, 151, 0.18);
        h4 {
          opacity: 0.6;
          font-family: 'Basis-Grotesque-Medium';
          font-size: 16px;
          line-height: 1.56;
          color: #27233a;
          margin-bottom: 27px;
        }
        label{
          input{
            margin-left: -20px;
          }
        }
      }
      .modal-body {
        padding: 32px 0 5px 0;
        .sendAtDesignatedTime {
          margin: 0;
          padding-bottom: 36px;
          border-bottom: 1px solid rgba(151, 151, 151, 0.18);
          label{
            margin-bottom: 16px;
          }
          .dropdown.selectDropDown {
            margin-top: 16px;
            margin-bottom: 15px;
            button.dropdown-toggle {
              padding: 19px 23px 22px;
              text-align: left;
              display: inline-flex;
              align-items: center;
              justify-content: space-between;
              background-color: #fcfcfc;
              box-shadow: none;
              border: none;
              span {
                color: #ddd;
              }
            }
          }
        }
        .acceptSetTime{
          font-size: 11px;
          color: white;
          line-height: 15px;
          padding: 4px 20px 6px;
          border-radius: 100px;
          background-color: #828893;
          border: none;
        }
        .sendNow {
          padding-top: 32px;
          display: -webkit-box;
          .labelSendNow {
            margin-top: 10px;
          }
        }
        button.submit{
          width: 115px;
          box-shadow: none;
          outline: none;
          text-align: center;
          cursor: default;
          pointer-events: none;
          opacity: .6;
          padding-top: 14px;
          padding-bottom: 12px;
          &.enable{
            opacity: 1;
            cursor: pointer;
            pointer-events: auto;
          }
        }
      }
    }
  }
}