span.errNotification{
  color: transparent;
  float: right;
  font-size: 85%;
  &.errNotificationColor{
    color:red;
  }
}
.borderInput{
  border:1px solid rgba(255, 0, 0, 0.3);
}
input:focus{border: 1px solid red;}