#addNewCampaignPage {
  .wrapperAddNewCampaign {
    .stepFour {
      .addNewCampaignForm {
        input[type="checkbox"]{
          -webkit-appearance: none;
          background: #fff;
          width: 12px;
          height: 12px;
          border: 1px solid #e5e5e5 ;
          position: relative;
          cursor: pointer;
          outline: none;
        }
        input[type="checkbox"]:after{
          content: '';
          width: 5px;
          height: 9px;
          border-bottom: 2px solid #f22e00;
          border-right: 2px solid #f22e00;
          position: absolute;
          left: 3px;
          top: 0px;
          opacity: 0;
          transform: rotate(45deg);
        }
        input[type="checkbox"]:checked{
          outline: none;
        }
        input[type="checkbox"]:checked:after{
          opacity: 1;
        }
        .selectDropDown {
          margin-bottom: 20px;
          .dropdown-menu {
            margin-top: 7px;
            background-color: white;
            border-radius: 2px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.23);
            border: none;
            padding: 8px 0 12px 0;
            a {
              padding: 7px 20px;
              color: #4f5356;
              font-size: 14px;
              opacity: 0.56;
            }
            a:hover {
              color: #24272a;
              opacity: 1;
              background-color: transparent;
            }
          }
          button {
            color: #8d8d8d;
            font-size: 20px;
            line-height: 19px;
            padding: 16px 21px 17px 16px;
            border: none;
            border-radius: 0px;
            text-align: left;
            background-color: #FFFFFF;
          }
        }
        .titleFormGroup {
          span {
            color: #afb1b5;
          }
        }
      }
    }
  }
}