
#asideSession{
  width: 191px;
  background-color: #ffffff;
  position: fixed;
  bottom: 0px;
  top: 104px;
  .navigtionLeft{
    padding: 0px;
    display: flex;
    flex-direction: column;
    height: 100%;
    li{
      border-bottom: 1px solid #f2f2f2;
      &:last-child{
        border-top: 1px solid #f2f2f2;
        border-bottom: none;
        margin-top: auto;
      }
      a{
        color: #343b46;
        font-size: 14px;
        line-height: 19px;
        padding: 23px 0px 20px 34px;
        display: block;
        &:hover, &:active, &:focus{
          text-decoration: none;
        }
        &.actionTab{
          color: #ff1c00;
          background-color: #fcfcfc;
        }
      }
      i{
        margin-right: 12px;
      }
    }
  }
}