#campaignsPage {
  padding-left: 0;
  input[type="checkbox"]{
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    position: relative;
    cursor: pointer;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    background-color: #d8d8d8;
    outline: none !important;
    border: none !important;
    &:after{
      content: '';
      width: 5px;
      height: 10px;
      border-bottom: 2px solid #FFF;
      border-right: 2px solid #fff;
      position: absolute;
      left: 8px;
      top: 4px;
      opacity: 0;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    &:checked{
      outline: none;
      background:#00D7AE;
      &:after{
        opacity: 1;
      }
    }
  }
  .wrapperCampaignsPage {
    margin-top:114px;
    margin-bottom: 80px;
    .titlePage{
      h1 {
        text-transform: capitalize;
        opacity: 0.15;
        color: #27233a;
        font-family: 'Basis-Grotesque-Bold', sans-serif;
        font-size: 32px;
        letter-spacing: -1px;
        line-height: 40px;
        margin-bottom: 40px;
        margin-top: 0;
        width: 50%;
        display: inline-block;
      }
      h3{
        width: calc(50% - 4px);
        display: inline-block;
        text-align: right;
        font-family: 'Basis-Grotesque-Medium',sans-serif;
        font-weight: normal;
        font-size: 13px;
        &.archive{
          padding-right: 30px;
          input{
            top:5px;
            left: -15px;
          }
          .nt-refresh-icon{
            background: #FF003A;
            border-radius: 50%;
            padding: 10px;
            margin-left:40px;
            font-size: 25px;
            position: relative;
            top:5px;
            &:before{
              color:#fff;
            }
          }
        }
        a{
          color: #777d89;
          &:hover{
            color: #ff4249 !important;
            .namtech{
              &:before{
                color: #ff4249;
              }
            }
          }
          .namtech{
            font-size: 25px;
            margin-right: 15px;
            position: relative;
            top:5px;
          }
        }
      }
    }

    .groupElementCampaigns {
      //animation: 5s ease-out;
      margin-bottom: 25px;
      &:last-child {
        margin: 0px;
      }
      .viewContain {
        .listCampaigns {
          background-color: #fff;
          width: 100%;
          display: inline-flex;
          align-items: center;
          padding: 18px 0;
          margin-bottom: 1px;
          &:last-child {
            margin: 0px;
          }
          .imageListCampaigns {
            text-align: center;
            input{
              margin-right: 30px;
              top:5px;
            }
            img {
              width: 60px;
              height: 60px;
              @include vendor(border-radius, 100%);
            }
          }
          .nameAndActiveCampaigns {
            padding-left: 13px;
            p {
              font-family: 'Basis-Grotesque-Bold';
              font-size: 18px;
              line-height: 1;
              color: #2f3540;
              margin:0;
            }
            i {
              font-size: 6px;
              vertical-align: middle;
            }
            span {
              color: #2f3540;
              font-family: "Basis-Grotesque-Regular";
              font-size: 12px;
              line-height: 10px;
              margin-top:10px;
              display: inline-block;
            }
          }
          .launchDate-landingPage {
            p {
              display: inline-block;
              color: #aaaaaa;
              font-family: 'Basis-Grotesque-Medium', sans-serif;
              font-size: 12px;
              line-height: 26px;
              text-transform: uppercase;
              margin-bottom: 0px;
              &:first-child {
                margin-right: 20px;
              }
            }
          }

          .viewAndDeleteButton{
            text-align: right;
            a {
              &:first-child{
                margin-right: 15px;
              }
              &:nth-child(2){
                width: 85px;
              }
            }
            i {
              font-size: 20px;
              vertical-align: middle;
              color: #828893;
              cursor: pointer;
              margin-left: 25px;
              &:hover{
                color:#353245;
              }
            }
          }
          .viewMoreInformation {
            text-align: center;
            a{
              .nt-refresh-icon{
                font-size: 20px;
              }
            }
            i {
              -webkit-transition: all .5s;
              -moz-transition: all .5s ;
              -ms-transition: all .5s ;
              -o-transition: all .5s ;
              transition: all .5s ;
              font-size: 27px;
              color: #ddd;
              cursor: pointer;
              outline: none;
              &.animation {
                transform: rotate(180deg);
              }
              &:hover{
                color: #221f20;
              }
            }
          }
        }
      }
      .extensionSection {
        display: none;
        -webkit-animation: fadeIn 1s;
        animation: fadeIn 1s;
        &.showExtensionSection {
          display: block;
        }
        .groupLandingPageCampaign {
          background-color: #ffffff;
          width: 100%;
          .elementLanding {
            display: inline-flex;
            width: 100%;
            align-items: center;
            padding: 25px 0 25px;
            border-bottom: 1px solid rgba(130, 136, 147, 0.08);
            .nameAndActiveLandingCampaigns {
              p {
                color: #2f3540;
                font-size: 18px;
                line-height: 20px;
                font-weight: 700;
                margin-bottom: 0px;

              }
              i {
                font-size: 6px;
                vertical-align: middle;
              }
              span {
                color: #2f3540;
                font-size: 12px;
                line-height: 12px;
              }
            }
            .informationLandingPage {
              flex-grow: 2;
              .urlLandingPage {
                p {
                  font-family: 'Basis-Grotesque-Regular', sans-serif;
                  font-size: 12px;
                  font-weight: normal;
                  font-style: normal;
                  font-stretch: normal;
                  line-height: 1.67;
                  letter-spacing: normal;
                  color: #9a9a9a;
                  margin-bottom: 0;
                  a {
                    color: #353245;
                  }
                }
              }
              .launchDateCampaigns {
                p {
                  font-family: 'Basis-Grotesque-Regular', sans-serif;
                  font-size: 12px;
                  font-weight: normal;
                  font-style: normal;
                  font-stretch: normal;
                  line-height: 1.67;
                  letter-spacing: normal;
                  color: #9a9a9a;
                  span {
                    color: #353245;
                  }
                }
              }
            }
            .groupButton {
              text-align: right;
              a {
                display: inline-block;
                margin-left: 7px;
                margin-right: 7px;
                cursor: pointer;
                outline: none;
                &.disableClick {
                  background: #eeeeee;
                  cursor: default;
                  pointer-events: none;
                }
                &.resend, &.launch{
                  width: 70px;
                }
              }
              .draft {
                background-color: #ff4249;
                margin-left: 0px;
                &:hover {
                  background-color: #FF2A2E;
                  color: #fff;
                }
              }
              i {
                font-size: 20px;
                vertical-align: middle;
                color: #828893;
                margin-left: 0;
                &:hover{
                  color:#353245;
                }
              }
            }
            /*.viewAnalyticsButton {
              width: auto;
              text-align: right;
              a {
                color: #ffffff;
                font-size: 11px;
                line-height: 15px;
                padding: 8px 20px;
                background-color: #828893;
                border-radius: 100px;
                &:hover {
                  color: #828893;
                  background-color: transparent;
                }
              }
            }
            .editElementLanding {
              text-align: center;
              a {
                background-color: #828893;
                border-radius: 100px;
                color: #ffffff;
                padding: 4px 17px;
                font-size: 10px;
                display: inline-block;
                &:hover {

                }
              }
            }*/
            .statusLaunch {
              width: auto;
              button {
                font-size: 11px;
                line-height: 15px;
                color: #3c444f;
                padding: 4px 17px;
                border-radius: 100px;
                &.launched {
                  border: 1px solid #3c444f;
                  background-color: transparent;
                  cursor: default;
                }
                &.launch {
                  background-color: #828893;
                  border: 1px solid #828893;
                  color: #ffffff;
                }
              }
            }
            .deleteElementLanding {
              width: auto;
              i {
                font-size: 20px;
                vertical-align: middle;
                color: #828893;
              }
            }
          }
        }
        .buttonSection {
          background-color: #fff;
          text-align: center;
          padding: 22px 0;
          a {
            margin-left: 10px;
            margin-right: 10px;
            display: inline-block;
          }
        }
      }
    }
  }
  .emptyCampaign{
    margin-top: 90px;
    text-align: center;
    h2{
      opacity: 0.15;
      color: #27233a;
      font-family: 'Basis-Grotesque-Bold', sans-serif;
      font-size: 32px;
      letter-spacing: -1px;
      line-height: 40px;
      text-align: center;
      margin-bottom: 20px;
    }
    button{
      border-radius: 28px;
      background-color: #ff4249;
      border: 2px solid #ff4249;
      font-family: 'Basis-Grotesque-Medium', sans-serif;
      font-size: 13px;
      color: #ffffff;
      padding:11px 25px 9px;
      -webkit-transition: all .5s;
      -moz-transition: all .5s;
      -ms-transition: all .5s;
      -o-transition: all .5s;
      transition: all .5s;
      &:hover{
        background-color: transparent;
        color:#ff4249;
      }
    }
  }
}

/*RESPONSIVE*/

@media (max-width:991px){
  #campaignsPage{
    .wrapperCampaignsPage{
      .groupElementCampaigns{
        .viewContain{
          .listCampaigns{
            display: block;
            .launchDate-landingPage{
              margin:20px 0;
            }
            .imageListCampaigns{
              img{
                width: 45px;
                height:45px;
              }
            }
            .viewAndDeleteButton{
              text-align: center;
              margin-bottom: 20px;
            }
          }
        }
      }
      .groupElementCampaigns{
        .extensionSection{
          .buttonSection{
            a{
              margin-bottom: 20px;
            }
          }
        }
      }
    }
  }
}
@media(max-width: 767px){
  #campaignsPage {
    .wrapperCampaignsPage{
      margin-top:150px;
      h1{
        font-size:27px;
        margin-bottom: 25px;
      }
      .groupElementCampaigns{
        .extensionSection{
          .groupLandingPageCampaign{
            .elementLanding{
              display: block;
              border-bottom: none;
              .groupButton{
                text-align: center;
                margin:25px 0;
              }
            }
          }
        }
      }
    }
  }
}