#createCampaign {
  width: 611px;
  margin: 0px auto 97px;
  #sideBarTop{
    .someThingThere,
    .searchSideBarTop,
    .sortElement,
    .createNew{
      display: none;
    }
  }
  h1{
    margin-top: 112px;
    margin-bottom: 40px;
    opacity: 0.15;
    font-family: 'Basis-Grotesque-Bold';
    font-size: 32px;
    line-height: 1.25;
    letter-spacing: -0.7px;
    color: #27233a;
  }
  form {
    label.title{
      font-family: 'Basis-Grotesque-Medium';
      font-size: 16px;
      line-height: 1.56;
      color: rgba(39, 35, 58, 0.6);
      margin: 0 0 15px 0;
      font-weight: normal;
      width: 100%;
      i{
        color: #aaaaaa;
        font-size: 16px;
        margin-left: 15px;
        vertical-align: middle;
        cursor: pointer;
        position: relative;
        top:-2px;
      }
    }
    .nav {
      margin-bottom: 40px;
      .tabTypeCampaign {
        width: 296px;
        height: 247px;
        border-radius: 4px;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        outline: none;
        i.glyphter{
          font-size: 84px;
          color: #e0e0e0;
          display: block;
          text-align: center;
        }
        p{
          font-family: 'Basis-Grotesque-Bold',sans-serif;
          font-size: 18px;
          letter-spacing: -0.3px;
          text-align: center;
          color: #e0e0e0;
          margin: 35px 0 0 0;
        }
        &.active{
          i.glyphter,p{
            color: #ff4249;
          }
        }
      }
      span {
        color: #2e3237;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        text-transform: uppercase;
        font-size: 13px;
        display: inline-block;
        margin-left: 7px;
        margin-right: 7px;
      }
    }
    .tab-content {
      ::-webkit-input-placeholder {
        color: #bebebe;
        font-family: 'Basis-Grotesque-Regular', sans-serif;
        font-size: 14px;
        font-weight: normal;
      }
      ::-moz-placeholder {
        color: #bebebe;
        font-family: 'Basis-Grotesque-Regular', sans-serif;
        font-size: 14px;
        font-weight: normal;
      }
      :-ms-input-placeholder {
        color:#bebebe;
        font-family: 'Basis-Grotesque-Regular', sans-serif;
        font-size: 14px;
        font-weight: normal;
      }
      :-moz-placeholder {
        color: #bebebe;
        font-family: 'Basis-Grotesque-Regular', sans-serif;
        font-size: 14px;
        font-weight: normal;
      }
      .tab-pane {
        input[type="submit"] {
          width: 170px;
          font-family: 'Basis-Grotesque-Bold';
          font-size: 14px;
          text-align: center;
          display: block;
          margin: auto;
        }
        .rowElementForm {
          width: 295px;
          margin: 0 0 40px 0;
          .error{
            position: absolute;
            right:10px;
            top:5px;
          }
          &.clientContactInformation{
            width: 100%;
            input{
              width: 295px;
            }
            .showError{
              float: left;
              &:last-child{
                float: right;
              }
              &:after{
                left: 0;
              }
            }
          }
          &.clientInformation{
            input{
              margin-bottom: 15px;
            }
          }
          input{
            margin: 0px;
          }
          div.upload {
            display: flex;
            text-align: center;
            align-items: center;
            float: left;
            width: 295px;
            padding:58px 0 50px 0;
            border-radius: 4px;
            background-color: #ffffff;
            border: dashed 1px #e0e0e0;
            .wrap {
              margin: auto;
              img {
                display: block;
                margin: auto;
                float: none;
                border: none;
                border-radius: 50%;
                width: 52px;
                height: 52px;
                &.defaultImage {
                  width: 47px;
                  height: 35px;
                  border-radius: 0;
                }
              }
              span {
                margin: 26px 0 21px;
                display: block;
                color: #aaaaaa;
                font-size: 14px;
                line-height: 1.29;
              }
              label {
                display: block;
                width: 141px;
                text-align: center;
                margin: auto;
                cursor: pointer;
              }
              input {
                display: none;
              }
            }
          }
        }
        .uploadLogo{
          input{
            display: none;
          }
        }
      }
    }
    .colorPicker{
      label{
        width: 100%;
      }
      input{
        width: 100%;
      }
    }
  }
  a {
    color: #b7b9bd;
    text-decoration: none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }
  a:hover {
    color: #ff2500;
  }
}

/*RESPONSIVE*/

@media (max-width:767px){
  #createCampaign{
    width:auto;
   padding:0 20px;
    form{
      .nav{
        .tabTypeCampaign{
          width:auto;
          height:auto;
        }
      }
      .tab-content{
        .tab-pane{
          .rowElementForm{
            width: 100%;
            .upload{
              width: 100% !important;
            }
            &.clientContactInformation{
              input{
                width:100%;
                margin-bottom: 20px;
              }
            }
          }
          .ADMdtp{
            width: 100%;
          }
        }
      }
    }
  }
}