#loginSelesfix {
  padding-top: 100px;
  .wrapperLogin {
    width: 400px;
    margin: auto;
    background-color: #fff;
    padding:70px 50px;
    .logoSalefix {
      margin: auto;
      margin-bottom: 50px;
    }
    h1, h2 {
      text-align: center;
      font-weight: 400;
    }
    h1 {
      color: #72767d;
      font-size: 28px;
      line-height: 40px;
    }
    h2 {
      color: #72767d;
      font-size: 16px;
      line-height: 40px;
      margin-top: 15px;
      margin-bottom: 37px;
    }
    .loginForm {
      .loginError{
        color: red;
        text-align: center;
        margin-top: 15px;
        margin-bottom: 0px;
      }
      input.form-control {
        border: 1px solid #fcfcfc;
        box-shadow: none;
        padding: 22px 23px;
        color: #353245;
        font-size: 14px;
        line-height: 14px;
        height: auto;
        border-radius: 4px;
        background-color: #fbfbfc;
        border:1px solid #e0e0e0;
        &.loginErrorField{
          border: 1px solid red;
        }
        &:first-child{
          margin-bottom: 16px;
        }
        /*&#salesfitInputPassword1{
          letter-spacing: 4px;
        }*/
        &:focus{
          border: 1px solid #ff4249;
        }
        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus,
        &:-webkit-autofill:active{
          border: 1px solid rgb(250, 255, 189);
        }
      }

      .bottomLogin {
        margin-top: 10px;
        text-align: center;
        p {
          text-align: center;
          color: #72767d;
          font-size: 12px;
          line-height: 20px;
          max-width: 317px;
          font-family: 'Basis-Grotesque-Light',sans-serif;
          a {
            border-bottom: 2px solid #d8d8d8;
            color: #72767d;
            font-size: 12px;
            line-height: 20px;
          }
        }
        button {
          border-radius: 100px;
          text-align: center;
          font-size: 14px;
          line-height: 14px;
          color: #ffffff;
          background-color: #ff4249;
          border: 2px solid #ff4249;
          margin-top:10px;
          margin-bottom: 33px;
          width:300px;
          padding:16px 0 15px;
          line-height: normal;
          font-family: 'Basis-Grotesque-Bold';
          &:hover{
            background-color: transparent;
            color: #ff4249;
          }
        }
        span {
          display: block;
          text-align: center;
          margin-bottom: 25px;
          a {
            color: #ff4249;
            font-size: 12px;
            line-height: 20px;
          }
          a:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
}
@media (max-width:480px){
  #loginSelesfix{
    padding-top:0;
    .wrapperLogin{
      padding:25px 20px;
      width:auto;
      .loginForm{
        .bottomLogin{
          text-align: center;
          button{
            max-width:100%;
          }
        }
      }
    }
  }
}