#userDetailPage{
  .contentMobile{
    margin-top: 150px;
    h1{}
    .wrapperItem{
      .item{
        border-bottom: 1px solid gray;
        padding: 25px 0;
        &:last-child{
          border-bottom: none;
        }
        p{
          color: #000;
          font-size: 17px;
          span{
            color: #aaa;
            width: 50%;
            display: inline-block;
          }
        }
        a{
          display: block;
          background: #ff4249;
          text-align: center;
          padding: 6px 0 3px;
          border-radius: 28px;
          margin: 0 auto;
          color: #fff;
          width: 100px;
        }
      }
    }
  }
}