article#editClientPage {
  #sideBarTop {
    .searchSideBarTop,
    .someThingThere,
    .sortElement,
    .createNew{
      display: none;
    }
    .createNew{
      margin-left: auto;
    }
  }
  .content {
    width: 620px;
    margin: 0 auto;
    padding-top: 107px;
    h1 {
      color: rgba(39, 35, 58, 0.15);
      font-family: 'Basis-Grotesque-Bold', sans-serif;
      font-size: 32px;
      letter-spacing: -1px;
      line-height: 40px;
      margin-bottom: 16px;
      margin-top: 0px;
      i {
        color: #aaaaaa;
        display: inline-block;
        margin-left: 10px;
        font-size: 12px;
        vertical-align: middle;
        cursor: pointer;
      }
    }
    .upload {
      display: flex;
      text-align: center;
      align-items: center;
      float: left;
      width: 300px;
      height: 250px;
      border-radius: 4px;
      background-color: #ffffff;
      border: solid 1px #e0e0e0;
      .wrap {
        margin: auto;
        img {
          display: block;
          margin: auto;
          float: none;
          border: none;
          border-radius: 50%;
          width: 52px;
          height: 52px;
          &.defaultImage {
            width: 47px;
            height: 35px;
            border-radius: 0;
          }
        }
        span {
          margin: 18px 0 21px;
          display: block;
          color: #aaaaaa;
          font-size: 14px;
          line-height: 1.29;
        }
        label {
          -webkit-transition: all .5s;
          -moz-transition: all .5s;
          -ms-transition: all .5s;
          -o-transition: all .5s;
          transition: all .5s;
          display: block;
          color: #ffffff;
          font-family: 'Basis-Grotesque-Regular', sans-serif;
          font-size: 13px;
          line-height: normal;
          border-radius: 28px;
          background-color: #ff4249;
          border: 2px solid #ff4249;
          width: 141px;
          text-align: center;
          margin: auto;
          cursor: pointer;
          padding:13px 0 9px 0;
          &:hover {
            background: #fff;
            color: #ff4249;
          }
        }
        input {
          display: none;
        }
      }
    }
    form {
      float: right;
      max-width: 300px;
      width: 300px;
      input {
        border: 1px solid #e0e0e0;
        border-radius: 4px;
        background-color: #fcfcfc;
        width: 100%;
        margin-bottom: 15px;
        padding: 22px 25px 18px;
        color: #353245;
        line-height: 1.29;
        font-size: 14px;
        transition: 0.5s;
        &:focus {
          border: 1px solid #ff4249;
          outline: none;
        }
      }
      select {
        width: 100%;
        height: 60px;
        background-color: #fcfcfc;
        border: none;
        color: #353245;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-weight: 400;
        padding-left: 23px;
        margin-bottom: 10px;
      }
      md-autocomplete {
        height: 60px;
        border-radius: 4px;
        md-autocomplete-wrap {
          height: 60px;
          background: white;
          border: 1px solid #e0e0e0;
          border-radius: 4px;
          box-shadow: none;
          input{
            margin: 0;
            background: transparent;
            border: none;
            height: auto;
            padding-left: 25px;
            &:focus{
              border: none;
              outline: none;
            }
          }
        }
      }
      .positionSelect {
        margin-top: 10px;
      }
      .countrySelect, .positionSelect {
        #selectCountry, #selectCountry2 {
          color: #353245;
          font-size: 14px;
          font-weight: 400;
          line-height: 19px;
          padding: 19px 23px;
          background-color: #fcfcfc;
          border: 1px solid #e0e0e0;
          display: flex;
          align-items: center;
          justify-content: space-between;
          border-radius: 4px;
          &:focus {
            border: 1px solid #ff4249;
            outline: none;
          }
        }
        .dropdown-menu {
          padding: 0px;
          background-color: transparent;
          box-shadow: none;
          border: none;
          z-index: 0;
          margin: 0;
          overflow-y: auto;
          overflow-x: hidden;
          max-height: 120px;
          z-index: 2;
          li {
            a {
              padding: 20px 26px;
              color: #353245;
              font-size: 14px;
              font-weight: 400;
              line-height: 19px;
              border-left: solid 1px #e0e0e0;
              border-right: solid 1px #e0e0e0;
              border-bottom: solid 1px #e0e0e0;
              border-radius: 4px;
              background-color: #fcfcfc;
            }
          }
        }
      }
      .createClient {
        width: 190px;
        display: block;
        color: #ffffff;
        font-size: 14px;
        font-family: 'Basis-Grotesque-Bold', sans-serif;
        background-color: #ff4249;
        text-align: center;
        margin: 35px auto 80px;
        text-decoration: none;
        border: 2px solid #ff4249;
        border-radius: 100px;
        padding:11px 0 7px 0;
        &:hover {
          background: transparent;
          color: #ff4249;
        }
      }
    }
  }
}

/*RESPONSIVE*/

@media (max-width:767px){
  article#editClientPage{
    .content{
      width: 100%;
      padding:80px 10px 0 10px;
      .upload{
        float: none !important;
        margin-bottom: 35px;
        width:auto;
      }
      form{
        float:none !important;
        width: auto;
        max-width: inherit;
      }
    }
  }
}