#mediaPage{
  input[type="checkbox"]{
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    position: relative;
    cursor: pointer;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    background-color: #d8d8d8;
    outline: none !important;
    border: none !important;
    &:after{
      content: '';
      width: 5px;
      height: 10px;
      border-bottom: 2px solid #FFF;
      border-right: 2px solid #fff;
      position: absolute;
      left: 8px;
      top: 4px;
      opacity: 0;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    &:checked{
      outline: none;
      background:#00D7AE;
      &:after{
        opacity: 1;
      }
    }
  }
  padding: 0 100px;
  h1{
    margin: 140px 0 45px;
    font-family: 'Basis-Grotesque-Bold',sans-serif;
    font-weight: normal;
    font-size: 32px;
    line-height: 40px;
    color: #272339;
    letter-spacing: -0.7px;
    opacity: 0.15;
  }
  .uploadVideo{
    border: 1px dashed #aaaaaa;
    background: #fff;
    text-align: center;
    padding: 50px 0;
    img{}
    span{
      font-family: 'Basis-Grotesque-Regular',sans-serif;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      text-align: center;
      color: #aaaaaa;
      display: block;
      margin:25px 0;
    }
    .uploadBtn{
      label{
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -ms-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
        padding-left: 6px;
        cursor: pointer;
        margin: 0px;
        width: 141px;
        height: 42px;
        line-height: 42px;
        background-color: #ff4249;
        border: 2px solid #ff4249;
        border-radius: 28px;
        font-size: 13px;
        font-family: 'Basis-Grotesque-Regular',sans-serif;
        font-weight: normal;
        color: #fff;
        outline: none;
        &:hover{
          background: transparent;
          color: #ff4249;
        }
      }
      input{
        display: none;
      }
    }
  }
  .selectAll{
    padding:0 25px 0 35px;
    height: 90px;
    line-height: 90px;
    position: relative;
    .content{
      #confirmDelete{
        .modal-body{
          text-align: center;
          h3{}
          button{
            display: inline-block;
            margin: 0 15px;
            line-height: normal;
            background: #ff4249;
            border: 2px solid #ff4249;
            padding: 10px 0 8px;
            width: 100px;
            color: #fff;
            font-size: 16px;
            &:hover{
              background: #fff;
              color: #ff4249;
            }
          }
        }
      }
      input{
        margin-right: 30px;
      }
      label{
        font-family: 'Basis-Grotesque-Medium',sans-serif;
        font-weight: normal;
        font-size:13px;
        line-height: 20px;
        color: #aaa7b7;
        position: relative;
        top: -4px;
      }
      a{
        background-color: #ff4249;
        width: 40px;
        height: 40px;
        -webkit-border-radius:50%;
        -moz-border-radius:50%;
        border-radius:50%;
        text-align: center;
        margin-top: 25px;
        i{
          font-size: 25px;
          color: #fff;
          position: relative;
          top:-21px;
        }
      }
    }


  }
  .padding-uploadingVideo{
    padding:25px 0;
  }
  .wrapperItem{
    .item{
      position: relative;
      padding: 0 30px 0 35px;
      height: 100px;
      line-height: 100px;
      background: #fff;
      margin-bottom: 25px;
      &:last-child{
        margin-bottom: 30px;
      }
      .pull-left{
        input{
          vertical-align: middle;
        }
        .img{
          width:100px;
          height:55px;
          background-color: #d8d8d8;
          display: inline-block;
          vertical-align: middle;
          margin:0 15px 0 50px;
        }
        span{
          font-family: 'Basis-Grotesque-Medium',sans-serif;
          font-weight:normal;
          font-size: 12px;
          color: #aaaaaa;
          line-height: 26px;
          text-transform: uppercase;
        }
      }
      .pull-right{
        span{
          font-family: 'Basis-Grotesque-Medium',sans-serif;
          font-weight: normal;
          font-size: 12px;
          line-height: 26px;
          color: #aaaaaa;
          text-transform: uppercase;
        }
        a{
          display: inline-block;
          margin-left:55px;
          i{
            font-size:28px;
            color: #aaa;
          }
        }
      }
      .confirmDelete{
        position: absolute;
        top:0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color:#fff;
        text-align: center;
        padding:20px 0;
        h4{
          margin: 0;
        }
        a{
          margin: 0 15px;
          position: relative;
          top:-25px;
        }
      }
    }
  }
}


