.downloadCSV{
  display: inline-block;
  display: none;
  width: 28px;
  background: #7d7b89;
  text-align: center;
  padding: 5px 5px;
  border-radius: 15px;
  &:hover{
    background: #ff4249;
  }
  i{
    position: relative;
    top: 2px;
    color: #fff;
  }
}