#addNewCampaignPage {
  .wrapperAddNewCampaign {
    .stepTwoTraining {
      .addOrder{
        padding: 36px 24px 39px 24px;
        background: transparent;
        border: dashed 2px #aaadb2;
        p{
          color: #343b46;
          font-size: 20px;
          line-height: 19px;
          margin: 0px;
          img{
            width: 17px;
            height:17px;
            margin-right: 6px;
          }
        }
      }
      .dropLogo{
        text-align: center;
        padding-top: 63px;
        padding-bottom: 46px;
        img{
          width: 44px;
          height: 34px;
          margin-bottom: 17px;
        }
        p:first-child{
          color: #a7a7a7;
          font-size: 13px;
          margin-bottom: 7px;
        }
        p:last-child{
          color: #9d9d9d;
          font-size: 10px;
          a{
            text-decoration: underline;
            color: #9d9d9d;
            font-size: 10px;
          }
        }
      }
      .dropImage{
        img{
          width: 31px;
          height: 24px;
          float: left;
          display: inline-block;
        }
        p{
          color: #a7a7a7;
          font-size: 13px;
          display: inline-block;
        }
      }
    }
  }
}