#addNewCampaignPage {
  .wrapperAddNewCampaign {
    .stepThreeTraining {
      .addOrder{
        padding: 36px 24px 39px 24px;
        background: transparent;
        border: dashed 2px #aaadb2;
        p{
          color: #343b46;
          font-size: 20px;
          line-height: 19px;
          margin: 0px;
          img{
            width: 17px;
            height:17px;
            margin-right: 6px;
          }
        }
      }
    }
  }
}